<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rodriguez.brando">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MenuPrincipal"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FormularioCarro" />
        <activity android:name=".Lista" />
        <activity android:name=".Reportes" />
        <activity android:name=".ReporteUno" />
        <activity android:name=".ReporteDos" />
        <activity android:name=".ReporteTres" />
        <activity android:name=".ReporteCuatro" />
        <activity android:name=".ReporteCinco" />
        <activity android:name=".ReporteSeis"></activity>
    </application>

</manifest>
